$color-navigation-topbar-bg: #2e2e30;
$color-navigation-border: #424244;
$color-content-bg: #1e1f21;
$color-selected-border: #4573d2;
$color-search-input-bg: #565557;

// TRANSITIONS
$transition-xs: 0.05s;
$transition-s: 0.1s;
$transition-ms: 0.15s;
$transition-m: 0.2s;
$transition-l: 0.3s;
$transition-xl: 0.4s;
$transition-xxl: 0.5s;
